# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

#Ignore Video files
*.mp4

#ignore assert folder
# asserts/
temp_files/